.avatar-box{
    text-align: center;
    position:relative;
    border-radius: 3px;
    box-shadow: 0 1.5rem 2rem rgba($color-black,.2);
    background-color: rgba($color-white, 0.6);
    transition: transform .5s;
    padding: 1rem;
   
    &__avatar{
        top: 0;
        left: 0;
        position:absolute; 
        transform: translate(-50%,-40%);  
        clip-path: circle(30% at 50% 45%);
        width: 20%;
    }
}