.avatar-box{
    text-align: center;
    position:relative;
    border-radius: 3px;
    box-shadow: 0 1.5rem 2rem rgba($color-black,.2);
    background-color: rgba($color-white, 0.6);
    transition: transform .5s;
    height: 30rem;
    /*padding: 1rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 2rem rgba($color-black,.2);
    background-color: rgba($color-white, 0.6);
    transition: transform .5s;
    position: relative;
    clip-path: polygon(0 0, 88% 0, 48% 100%, 0% 100%);
    width:130%;*/
   

    &__avatar{
        position:absolute;
        
        transform: translate(-50%,-40%);
        
        clip-path: circle(30% at 50% 45%);
        width: 20%;
    }
}